body{
    display:flex;
    flex-direction:column;
    margin:0;
    background-image: linear-gradient(to right, #5b52bc, #7e77ca);
    background-image: url('../images/background.jpg');
    background-size: cover;
}

main{
    display:flex;
    flex-direction: column;
    margin:0;
}